body {
    margin: 0 auto;
    max-width: 400px;
}

h1 {
    border-bottom: 4px double #ccc;
}

body {
    background: url('../images/background.jpg');
    background-size: cover;
}

.img-lucky-kmom01 {
    max-width: 100%;
}

.lucky-div-kmom01 {
    background-color: steelblue;
}