{# templates/card_game/deck.html.twig #}

{% extends 'base.html.twig' %}

{% block title %}Deck of Cards{% endblock %}

{% block body %}
<ul>
    <li><a href="{{ path('deck_page') }}">Deck of Cards</a></li>
    <li><a href="{{ path('shuffle_page') }}">Shuffle Deck</a></li>
    <li><a href="{{ path('draw_page') }}">Draw Card</a></li>
    <!-- Add more links as needed for other pages -->
</ul>
    <h1>Deck of Cards</h1>
    <p class="card-utf8">
        {% for card in cards %}
        <i class="{{ card.graphic() }}"></i>
        {% endfor %}
    </p>
{% endblock %}
