{# templates/card_game/deck.html.twig #}

{% extends 'base.html.twig' %}

{% block title %}Deck of Cards{% endblock %}

{% block body %}
    <h1>Deck of Cards</h1>
    <p class="card-utf8">
        {% for card in cards %}
        <i class="{{ card.graphic() }}"></i>
        {% endfor %}
    </p>
{% endblock %}
