{% extends 'base.html.twig' %}

{% block title %}Card Game Landing Page{% endblock %}

{% block body %}
    <h1>Welcome to the Card Game!</h1>
    <p>This is the landing page for your card game project.</p>
    <p>Here are some links to get started:</p>
    <ul>
        <li><a href="{{ path('deck_page') }}">Deck of Cards</a></li>
        <li><a href="{{ path('shuffle_page') }}">Shuffle Deck</a></li>
        <li><a href="{{ path('draw_page') }}">Draw Card</a></li>
        <!-- Add more links as needed for other pages -->
    </ul>
{% endblock %}