body {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    min-height: 100vh;
    padding: 0;
    padding-bottom: 25px;
}

h1 {
    border-bottom: 4px double #ccc;
    margin-top: 0px;
}

body {
    /* background: url('../images/background.jpg'); */
    background-size: cover;
}

.img-lucky-kmom01 {
    max-width: 100%;
}

.lucky-div-kmom01 {
    background-color: steelblue;
    text-align: center;
    height: 92vh;
}

.site-header {
    background-color: black;
    background-size: cover;
    position: relative;
    text-align: center;
    font-size: 26px;
}

.site-title {
    color: white;
}

.main-navbar {
    background-color: black;

}

.main-navbar li {
    list-style: none;
    padding: 5px;
    padding: 0;
}

.main-navbar li a {
    text-decoration: none;
    color: white;
    padding: 0.7rem;
    display: block;
}

.main-navbar ul {
    padding: 0;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-gap: 0px;
    margin: 0;
    text-align: center;
}

.main-footer {
    background-color: black;
    background-size: cover;
    position: fixed;
    text-align: center;
    font-size: 20px;
    bottom: 36px;
    width: 100%;
    height: 25px;
}

.main-footer p {
    color: white;
    margin: 0;
}

.centered {
    text-align: center;
}

.bottom-margin-gone {
    margin-bottom: 0px;
}

.site-content {
    flex: 1;
}

.report-page {
    width: 800px;
    margin: auto;
}

.flash-notice {
    padding: 0.5em;
    color: #004085;
    background-color: #cce5ff;
    border-color: #b8daff;
}
.flash-notice:before {
    content: "ⓘ";
}

.flash-warning {
    padding: 0.5em;
    color: #856404;
    background-color: #fff3cd;
    border-color: #ffeeba;
}
.flash-warning:before {
    content: "⚠";
}

.card {
    background-image: url('../images/1024px-English_pattern_playing_cards_deck.svg.png');
}

.card-utf8 {
    font-size: 96px;
}

/**
 * Style a card using UTF-8 characters.
 *
 * Suit spades.
 */
.card-utf8 .spades-ace::after { content: "\1F0A1"; }
.card-utf8 .spades-2::after { content: "\1F0A2"; }
.card-utf8 .spades-3::after { content: "\1F0A3"; }
.card-utf8 .spades-4::after { content: "\1F0A4"; }
.card-utf8 .spades-5::after { content: "\1F0A5"; }
.card-utf8 .spades-6::after { content: "\1F0A6"; }
.card-utf8 .spades-7::after { content: "\1F0A7"; }
.card-utf8 .spades-8::after { content: "\1F0A8"; }
.card-utf8 .spades-9::after { content: "\1F0A9"; }
.card-utf8 .spades-10::after { content: "\1F0AA"; }
.card-utf8 .spades-jack::after { content: "\1F0AC"; }
.card-utf8 .spades-queen::after { content: "\1F0AD"; }
.card-utf8 .spades-king::after { content: "\1F0AE"; }

/**
 * Style a card using UTF-8 characters.
 *
 * Suit hearts.
 */
.card-utf8 .hearts-ace::after { content: "\1F0B1"; }
.card-utf8 .hearts-2::after { content: "\1F0B2"; }
.card-utf8 .hearts-3::after { content: "\1F0B3"; }
.card-utf8 .hearts-4::after { content: "\1F0B4"; }
.card-utf8 .hearts-5::after { content: "\1F0B5"; }
.card-utf8 .hearts-6::after { content: "\1F0B6"; }
.card-utf8 .hearts-7::after { content: "\1F0B7"; }
.card-utf8 .hearts-8::after { content: "\1F0B8"; }
.card-utf8 .hearts-9::after { content: "\1F0B9"; }
.card-utf8 .hearts-10::after { content: "\1F0BA"; }
.card-utf8 .hearts-jack::after { content: "\1F0BC"; }
.card-utf8 .hearts-queen::after { content: "\1F0BD"; }
.card-utf8 .hearts-king::after { content: "\1F0BE"; }
 /**
 * Style a card using UTF-8 characters.
 *
 * Suit diamonds.
 */
.card-utf8 .diamonds-ace::after { content: "\1F0C1"; }
.card-utf8 .diamonds-2::after { content: "\1F0C2"; }
.card-utf8 .diamonds-3::after { content: "\1F0C3"; }
.card-utf8 .diamonds-4::after { content: "\1F0C4"; }
.card-utf8 .diamonds-5::after { content: "\1F0C5"; }
.card-utf8 .diamonds-6::after { content: "\1F0C6"; }
.card-utf8 .diamonds-7::after { content: "\1F0C7"; }
.card-utf8 .diamonds-8::after { content: "\1F0C8"; }
.card-utf8 .diamonds-9::after { content: "\1F0C9"; }
.card-utf8 .diamonds-10::after { content: "\1F0CA"; }
.card-utf8 .diamonds-jack::after { content: "\1F0CC"; }
.card-utf8 .diamonds-queen::after { content: "\1F0CD"; }
.card-utf8 .diamonds-king::after { content: "\1F0CE"; }
/**
 * Style a card using UTF-8 characters.
 *
 * Suit clubs.
 */
.card-utf8 .clubs-ace::after { content: "\1F0D1"; }
.card-utf8 .clubs-2::after { content: "\1F0D2"; }
.card-utf8 .clubs-3::after { content: "\1F0D3"; }
.card-utf8 .clubs-4::after { content: "\1F0D4"; }
.card-utf8 .clubs-5::after { content: "\1F0D5"; }
.card-utf8 .clubs-6::after { content: "\1F0D6"; }
.card-utf8 .clubs-7::after { content: "\1F0D7"; }
.card-utf8 .clubs-8::after { content: "\1F0D8"; }
.card-utf8 .clubs-9::after { content: "\1F0D9"; }
.card-utf8 .clubs-10::after { content: "\1F0DA"; }
.card-utf8 .clubs-jack::after { content: "\1F0DC"; }
.card-utf8 .clubs-queen::after { content: "\1F0DD"; }
.card-utf8 .clubs-king::after { content: "\1F0DE"; }

/* ['spades', 'hearts', 'diamonds', 'clubs']; */
/* ['2', '3', '4', '5', '6', '7', '8', '9', '10', 'Jack', 'Queen', 'King', 'Ace']; */