{# templates/card/cardgame21/card_game_21.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}Card game blackjack | landingpage{% endblock %}

{% block body %}
<h1>Welcome to Card Game blackjack!</h1>
<p>
    The objective of the game is to get a total card value of 21 or as close as possible without exceeding 21.
    Aces are worth 1 or 11 points. Face cards are worth 10 points, and all other cards are worth their face value.
</p>
<a href="{{ path('game_start', {'players': 1}) }}" class="btn btn-primary">Start a New Game</a>

<h2>Documentation</h2>
<a href="{{ path('game_doc') }}" class="btn btn-primary">Docs</a>
<p>
    1. The game starts when the player clicks on the link "Start a New Game".
    <br>
    2. Alternetively you can add /start?players=# at the of the url with the "#" representing any number.
    this will permit you to play with as many players as you want.
    <br>
    3. From there the player(s) may chose to Reset the game if incorrect settings were inputed or play the game.
    <br>
    4. To play the game the the player(s) need to first deal the first round of cards which will give all players and the bank one card.
    <br>
    5. The player(s) will deal an additional round of cards again except this time the dealer does not recive a card.
    <br>
    6. From this point each player will take their turn to draw as many additional cards they may want and when satesfied the player can chose to stand.
    <br>
    7. If the current players hand reaches 21 or more then their turn will be over and they will automaticaly stand.
    <br>
    8. Repeat step 6 and 7 for all players.
    <br>
    9. When all players have played their round then the dealer will draw cards until they reach a hand value of 17 or more.
    <br>
    10. After the dealer has drawn their cards the player(s) are to press "Go to Post Game Screen" to see who won/lost/tied with the dealer.
    <br>
</p>

{% endblock %}
