{# templates/card_game/deck.html.twig #}

{% extends 'base.html.twig' %}

{% block title %}Card game 21 | Play{% endblock %}

{% block body %}

    <h1>Card game blackjack | Playing</h1>
    <p>playing information things</p>

    <h2>Links</h2>
    <ul>
        <li><a href="{{ path('game_landingpage') }}">Back</a></li>
        <!-- Add more links as needed for other pages -->
    </ul>

{% endblock %}
