{# templates/game/play.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}Play Card Game blackjack{% endblock %}

{% block body %}
<h1>Card Game blackjack Decoumentation</h1>


<p>
    blablabla text about documentation on the game blablabla
</p>






{% endblock %}
