{% extends "base.html.twig" %}

{% block title %}Report{% endblock %}

{% block body %}
<div class="report-page">

    <h1 class="centered">Report Page</h1>
    <h3>Table of contents</h3>
    <ul>
        <li><a href="#kmom01">Jump to Kmom01</a></li>
        <li><a href="#kmom02">Jump to Kmom02</a></li>
        <li><a href="#kmom03">Jump to Kmom03</a></li>
        <li><a href="#kmom04">Jump to Kmom04</a></li>
        <li><a href="#kmom05">Jump to Kmom05</a></li>
        <li><a href="#kmom06">Jump to Kmom06</a></li>
    </ul>
    <p></p>
    <h2 id="kmom01">Kmom01</h2>
    <p>
    Berätta kort om dina förkunskaper och tidigare erfarenheter kring objektorientering:
    <br><br>
    Jag har tagit en kort kurs om objektorienterad programmering inom java innan jag kom till bth och jag har haft objekt orienterad programmerings kurser innom bth också. Ett exemple på en sådan kurs skulle vara oopython.
    <br><br><br>
    Berätta kort om PHPs modell för klasser och objekt. Vilka är de grunder man behöver veta/förstå för att kunna komma igång och skapa sina första klasser?
    <br><br>
    Man behöver förstå ytligt vad public, protected och private är. Man behöver förstå vad en konstructor är till vis del. Man kan också behöva veta hur man gör och använder metoder som klassen/objectet kan behöva använda.
    <br><br><br>
    Reflektera kort över den kodbas, koden, strukturen som användes till uppgiften me/report, hur uppfattar du den?
    <br><br>
    Det påminner mycket om design kursen. Det är definetivt något jag inte är van vid. Ett exempel på det skulle vara twig och hur det används. Jag tror att jag gillar routes och controllers, dock behöver jag mer tid med det innan jag kan säga definetivt. Men det ger mig en kännsla av flexibilitet.
    <br><br><br>
    Med tanke på artikeln “PHP The Right Way”, vilka delar i den finner du extra intressanta och värdefulla? Är det några särskilda områden som du känner att du vill veta mer om? Lyft fram några delar av artikeln som du känner mer värdefulla:
    <br><br>
    Med focus på denna kurs skulle jag nog svara object orienterat vilket hittas i language highlights: programming paradigms. Personligen skulle jag vilja veta mer om är namespaces. Jag tror att jag förstår men ändå inte på samma gång och är nästan garanterat det jag förstår minst än så länge.
    <br><br><br>
    Vilken är din TIL för detta kmom?
    <br><br>
    många små saker. Som hur man kan länka till en sida med namnet man gav routen. Hur man använder twig och controllers. Även hur man länkar till controllers med routes.
    <br><br><br>
    </p>

    <h2 id="kmom02">Kmom02</h2>
    <p>
        Förklara kort de objektorienterade konstruktionerna arv, komposition, interface och trait och hur de används i PHP.
        <br><br>
        arv är när en klass ärver av en föräldrar klass, mer specifikt skulle vara om man hade en klass för djur som har gör djur saker, men sen har du även en klass för hund. Hund klassen kan ärva av djur klassen en status för vid liv/död men behöver göra en egen method för "bark"
        <br>
        Om vi har klass A och klass B. Komposition är när klass A består av klass B och klass B förstörs när klass A förstörs.
        <br>
        interface fungerar både som en blueprint för vilka methods en klass måste ha men är också en interface för användaren av en eller flera klasser som använder det interfacet.
        <br>
        Trait är simpelt (från det jag förstår). Trait är skriven som klass kod men hör inte till någon klass. Men en klass kan få access till den koden genom att usa/includa/någonting och så kan klassen använda trait som sin egna kod som om den koden hörde till klassen.
        <br><br><br>
        Berätta om din implementation från uppgiften. Hur löste du uppgiften, är du nöjd/missnöjd, vilken förbättringspotential ser du i din koden och dina klasser?
        <br><br>
        Jag är väldigt nöjd med hur det har blivit. Något jag inte gillar är hur utf-8 korten inte har någon färg. Hade blivit bättre om jag använde bilderna på kort istället men hade inte tid för att lista ut det. Annars tror jag nog allt blev bra. Finns säkert flera förbättrings punkter men just nu ser jag det inte.
        <br><br><br>
        Vilka är dina reflektioner så här långt med att jobb i Symfony med applikationskod enligt MVC?
        <br><br>
        I första uppgiften gillade jag det inte, mest för att jag var ovan. Men destu mer jag jobbar i det destu mer gillar jag det. Lite samma var min upplevelse med OOP programmering. Det ända jag stör mig på fortfarande är att jag måste ha med current year variabeln i alla routes som använder base.html.twig. Men det finns säkert en väldigt simpel lösning som man måste veta för att använda. Annars gillar jag hur flexibelt Symfony känns hittils.
        <br><br><br>
        Vilken är din TIL för detta kmom?
        <br><br>
        Man kan implementera "implements \JsonSerializable" till en klass för att kunna omvandla object informationen till Json data. Att man kan använda en variabel för att bestämma css klassen som ett html element använder. Allmänt har jag även lärt mig detaljer om oop inom php.
        <br><br><br>
        </p>

    <h2 id="kmom03">Kmom03</h2>
    <p>Text for Kmom03.</p>

    <h2 id="kmom04">Kmom04</h2>
    <p>Text for Kmom04.</p>

    <h2 id="kmom05">Kmom05</h2>
    <p>Text for Kmom05.</p>

    <h2 id="kmom06">Kmom06</h2>
    <p>Text for Kmom06.</p>

</div>
{% endblock %}