{% extends "base.html.twig" %}

{% block title %}Session Data{% endblock %}

{% block body %}
    <h1>Session Data</h1>
    <ul>
        {% for key, value in sessionData %}
            <li><strong>{{ key }}</strong>: {{ value }}</li>
        {% endfor %}
    </ul>

    {% for message in app.flashes('success') %}
        <div class="flash-notice">
            {{ message }}
        </div>
    {% endfor %}
{% endblock %}
